// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #344;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

  h1 {
    font-size: 140px;
    font-weight: 700;
    line-height: 1;
  }

  h2 {
    font-size: 40px;
  }
}
