<% content_for :title do %>My super sweet index dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="elks_latest_sms" data-view="ElksLatestSms"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

<!--!
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="google_calendar" data-view="GoogleCalendar"></div>
    </li>
-->

    <li class="widget-toggle-hue-wrapper" data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <i class="icon-lightbulb icon-background"></i>
        
      <div data-id="toggle_hue" data-view="ToggleHue"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Synergy" data-min="0" data-max="100"></div>
    </li>
  </ul>
</div>