<% content_for :title do %>Home<% end %>
<div class="gridster" data-layout='{"rows": 2, "cols": 3, "margin": {"x": 4, "y": 4}}'>
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="elks_latest_sms" data-view="ElksLatestSms"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li class="widget-hue-switches-wrapper" data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <i class="icon-lightbulb icon-background"></i>
        
      <div data-id="hue_switches" data-view="HueSwitches"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="newly_added_shows" data-view="NewlyAddedShows" data-title="Nya avsnitt"></div>
    </li>
  </ul>
</div>
